<div class="home__container">
    <app-card gameCover="assets/bt-1.jpg"
        gameLabel="Digital"
        gameType="Digital | PS4"
        gamePreci="R$ 129,99"
    ></app-card>
    <app-card gameCover="assets/bt-4.jpg"
        gameLabel="Exclusive"
        gameType="DISC | PS5"
        gamePreci="R$ 169,99"
    ></app-card>
    <app-card gameCover="assets/bt-5.jpg"
        gameLabel="Digital"
        gameType="Digital | PS4"
        gamePreci="R$ 199,99"
    ></app-card>
    <app-card gameCover="assets/ac-cover.jpg"
        gameLabel="Digital"
        gameType="Digital | PS3 PS4 PS5"
        gamePreci="R$ 259,99"
    ></app-card>
    <app-card gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="New"
        gameType="DISC | PS5"
        gamePreci="R$ 299,99"
    ></app-card>
    <app-card gameCover="assets/bt-hardline.jpg"
        gameLabel="Digital"
        gameType="Digital | PS4 PS5"
        gamePreci="R$ 399,99"
    ></app-card>
</div>